@import "ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 0;
  right: 0;
  aspect-ratio: 1;
  width: 25%;
}

.infopanel {
  width: 50%;
  background-color: white;
}

.panelImage {
  width: 50%;
}

.panelContent {
  display: flex;
  flex-direction: row;
}
